/* sergey kode */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Big Shoulders", sans-serif;
}
html{
    background-color: rgb(243, 244, 246);
    height: 0;

    }
    .header{
        background-color:rgb(147, 197, 253);
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        position: absolute;
        padding: 10px;
    }
    
    #sidebar{
        position:absolute;
        margin: 5vh 0 0 0;
        width: 255px;  
        top: -5%;
        left: 0;
        height: 100vh;
    }
    #sidebar ul{
        list-style-type: none;
        background-color:rgb(59, 130, 246);
        overflow: hidden;
        height: 100%;
        font-size: x-large;
        text-align: center;
        padding: 0px;
    }
    #sidebar a{
        text-decoration: none;
        color: black;
      }
    
    .logoutButton{
        position: relative;
        top: 35%;
        border-radius: 7px;
        width: 206px;
        padding: 1px;
        height: 38px;
    }
    .logoutButton:hover{
        background-color: lightgray;
    }
    #logoutIcon{
        width: 16px;
        position:absolute;
        left: 30%;
    }
    #sidebar li:hover{
        background-color: white;
        border: 2px white;
        border-radius: 7px;
    }
    #sidebar li{
        background-color: rgb(37, 99, 235);
        border: 2px rgb(37, 99, 235);
        border-radius: 7px;
        margin: 10px;
        padding: 3px;
        font: bold;
    }
    #box{
        position:absolute;
        top: 15%;
        left: 7%;
        width: 85%;
        height: 75%;
        background-color: white;
        box-shadow: 5px 10px 5px #888888;
        z-index: -1;
    }
    #open_sidebar_button{
        position: relative;
        left: 0;
        top: -40px;
        width: 40px;
        height: 40px;
    }
    #close_sidebar_button{
        position: relative;
        left: -98px;
        top: 9px;
        width: 40px;
        height: 40px;
    }
    h1{
        text-align: center;
    }
    #board{
        position: absolute;
        font-size: large;
    }
    td, th{
        padding: 8px;
        border-radius: 7px;
        width: 12%;
        text-align: center; 
    }
    td{
        box-shadow: 5px 10px 5px #888888;
        background-color: rgb(243, 246, 248);
    }
    table{
        border-spacing: 15px;  
        display: none; 
    }
    #button_container{
       display: fleX;
       flex-direction: column;
       float:right;
       row-gap: 10px;
       position: relative;
       
    }
    textarea{
        display: block;
        width: 70%;
        height: 60px;
        resize: none;
        border: none;
        left: 5%;
        position: relative;
        border-radius: 3px;
        padding: 2px;
        color: black;
        background-color: white;
    }
    button{
        background-color: rgb(37, 99, 235);
        border-radius: 5px;
        padding: 2px;
    }
    button:hover{
        background-color: white;
    }
    #færdige{
        background-color: limegreen;
        border: solid limegreen;
    }
    #igangværende{
        background-color: yellow;
        border: solid yellow;
    }
    #ugentlige{
    background-color: rgb(147, 197, 253);
    }
    #daglige{
    background-color: rgb(37, 99, 235);
    }
    .col3{
        background-color: limegreen;
    }
    #add_task_button_daily, #add_task_button_weekly{
        text-decoration: none;
        float: right;
        padding-right: 15px;
        color: white;
        width: 10vh;
    }
    #add_task_button_daily:hover, #add_task_button_weekly:hover{
        color: black;
    }